@model Minible5.Models.proveedores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>proveedores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApartadoPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApartadoPostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechadeAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechadeAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LimiteCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LimiteCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoAnterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaldoAnterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Haber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Haber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonaContacto_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonaContacto_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonaContacto_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonaContacto_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltaBaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltaBaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaBaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaBaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasProntoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasProntoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescProntoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescProntoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoPorAplicar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoPorAplicar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoProvicional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoProvicional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoInicioPeriodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaldoInicioPeriodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoPorAplicarPeriodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoPorAplicarPeriodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoProvicionalPeriodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoProvicionalPeriodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idcuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idcuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_baja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_baja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clasesproveedores.IdClase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clasesproveedores.IdClase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.localidades.IdLocalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localidades.IdLocalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paises.IdPais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paises.IdPais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zonas.IdZona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zonas.IdZona)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdInternoProveedores }) |
    @Html.ActionLink("Back to List", "Index")
</p>
