@using Minible5.Models.ViewModels.Cobradores
@model Minible5.Models.ViewModels.Cobradores.EditCobradoresViewModels

@{
    ViewBag.Title = "Detalle Cobradores";
    ViewBag.pTitle = "Detalle Cobradores";
    ViewBag.pageTitle = "Cobradores";
    Layout = "~/Views/_Shared/_Layout.cshtml";
    List<SelectListItem> itemsRutas = (List<SelectListItem>)ViewBag.itemsRutas;
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
    List<SelectListItem> companies = (List<SelectListItem>)ViewBag.companies;

}

<!-- plugin css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<!-- Sweet Alert-->
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/assets/libs/toastr/build/toastr.min.css">
<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("Edit", "cobradores", FormMethod.Post, new { role = "form", @class = "needs-validation ", Novalidate = true }))
{
    <div class="row">
        <div class="col-lg-12">
            <div id="addproduct-accordion" class="custom-accordion">
                <div class="card">
                    <a href="#addproduct-billinginfo-collapse" class="text-dark" data-bs-toggle="collapse" aria-expanded="true" aria-controls="addproduct-billinginfo-collapse">
                        <div class="p-4">

                            <div class="media align-items-center">
                                <div class="me-3">
                                    <div class="avatar-xs">
                                        <div class="avatar-title rounded-circle bg-soft-primary text-primary">
                                            01
                                        </div>
                                    </div>
                                </div>
                                <div class="media-body overflow-hidden">
                                    <h5 class="font-size-16 mb-1">Información del Cobrador</h5>
                                    <p class="text-muted text-truncate mb-0">Llena el formulario con los datos a editar.</p>
                                </div>
                                <i class="mdi mdi-chevron-up accor-down-icon font-size-24"></i>
                            </div>

                        </div>
                    </a>

                    <div id="addproduct-billinginfo-collapse" class="collapse show" data-bs-parent="#addproduct-accordion">
                        <div class="p-4 border-top">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(d => d.idInternoCobrador)

                            <div class="text-danger mb-3 row">
                                @Html.ValidationSummary(false)
                            </div>

                            <div class="mb-3 row">
                                @Html.LabelFor(d => d.idCobrador, new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="input-group has-validation">
                                        @Html.TextBoxFor(d => d.idCobrador, new { @class = "form-control", placeholder = "Codigo Cobrador", Required = true })
                                        <div class="invalid-feedback">
                                            Porfavor, el Codigo del cobrador.
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="mb-3 row">
                                @Html.LabelFor(d => d.descripcion, new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="input-group has-validation">
                                        @Html.TextBoxFor(d => d.descripcion, new { @class = "form-control", placeholder = "Descripcion", Required = true })
                                        <div class="invalid-feedback">
                                            Porfavor, ingrese la descripcion.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                @Html.LabelFor(d => d.porcentajeComision, new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="input-group has-validation">
                                        @Html.TextBoxFor(d => d.porcentajeComision, new { @class = "form-control", placeholder = "Porcentaje ccomisio", @type = "number", @step = "any" })
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                @Html.LabelFor(d => d.IdInternoRutas, new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(d => d.IdInternoRutas, itemsRutas, "Seleccione la ruta del cobrador", new { @class = "form-control select2", Required = true })
                                    <div class="invalid-feedback">
                                        Porfavor, ingrese la ruta del Cobrador.
                                    </div>
                                </div>
                            </div>
                            <!--
    <div class="mb-3 row">
       @* @Html.LabelFor(d => d.cta_bodega_inventario, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(d => d.cta_bodega_inventario, items, "Seleccione el grupo", new { @class = "form-control select2", Required = true })
            <div class="invalid-feedback"> *@
                Porfavor, ingrese el grupo del usuario.
            </div>
        </div>
    </div>   -->

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end row -->

    <div id="hiddenEmpresas"></div>

    <div class="row mb-4">
        <div class="col text-end">
            <a href="@Url.Action("Index", "cobrador")" class="btn btn-danger"> <i class="uil uil-times me-1"></i> Cancelar </a>
            <button type="submit" class="btn btn-success"> <i class="uil uil-file-alt me-1"></i> Guardar </button>
        </div> <!-- end col -->
    </div> <!-- end row-->
}

<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="~/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
<script src="~/assets/js/app.js"></script>

<!-- plugins -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- Sweet Alerts js -->
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>

<!-- toastr plugin -->
<script src="~/assets/libs/toastr/build/toastr.min.js"></script>

<!-- Table Editable plugin -->
<script src="~/assets/libs/table-edits/build/table-edits.min.js"></script>

<script>
    $(document).ready(function () { $("#Group").select2(); });
    $(document).ready(function () { $("#empresas").select2(); });

    let num = 0

    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": 300,
        "hideDuration": 1000,
        "timeOut": 5000,
        "extendedTimeOut": 1000,
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }


</script>