@model Minible5.Models.ViewModels.Rutas.RutasViewModels
@{
    ViewBag.Title = "Crear Rutas";
    ViewBag.pTitle = "Crear Rutas";
    ViewBag.pageTitle = "Rutas";
    Layout = "~/Views/_Shared/_Layout.cshtml";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
    List<SelectListItem> companies = (List<SelectListItem>)ViewBag.companies;
}

<!-- plugin css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<!-- Sweet Alert-->
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />



<!-- Font Awesome -->
<link rel="stylesheet" href="~/assets/LTE/bower_components/font-awesome/css/font-awesome.min.css">

<!-- daterange picker -->
<link rel="stylesheet" href="~/assets/LTE/bower_components/bootstrap-daterangepicker/daterangepicker.css">

<!-- bootstrap datepicker -->
<link rel="stylesheet" href="~/assets/LTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="~/assets/LTE/plugins/iCheck/all.css">

<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="~/assets/LTE/plugins/timepicker/bootstrap-timepicker.min.css">

<!-- Theme style -->
<link rel="stylesheet" href="~/assets/LTE/dist/css/AdminLTE.min.css">

@using (Html.BeginForm("Create", "rutas", FormMethod.Post, new { role = "form", @class = "needs-validation ", Novalidate = true }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="p-4 border-top">


                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Encabezado</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                        <div class="box-body">                            

                            <div class="text-danger mb-3 row">
                                @Html.ValidationSummary(false)
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(d => d.idRuta)
                                        <div class="has-validation">
                                            @Html.TextBoxFor(d => d.idRuta, new { @class = "form-control", placeholder = "Codigo localidad", Required = true })
                                            <div class="invalid-feedback">
                                                Por favor, el codigo de localidad.
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(d => d.descripcion)
                                        <div class="has-validation">
                                            @Html.TextBoxFor(d => d.descripcion, new { @class = "form-control", placeholder = "Descripcion", Required = true })
                                            <div class="invalid-feedback">
                                                Por favor, ingresar la descripcion.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                            <br />

                            <div class="row">
                                <div class="form-group">
                                    @Html.LabelFor(d => d.recorrido)
                                    @Html.TextBoxFor(d => d.recorrido, new { @class = "form-control", placeholder = "Recorrido" })
                                </div>
                            </div>
                            <!-- /.row -->

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
            </div>
        </div>
    </div>
    <!-- end row -->


    <div id="hiddenEmpresas"></div>

    <div class="row mb-4">
        <div class="col text-end">
            <a href="@Url.Action("Index", "rutas")" class="btn btn-danger"> <i class="uil uil-times me-1"></i> Cancelar </a>
            <button type="submit" class="btn btn-success"> <i class="uil uil-file-alt me-1"></i> Guardar </button>
        </div> <!-- end col -->
    </div> <!-- end row-->
}

<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="~/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

<script src="~/assets/js/pages/form-validation.init.js"></script>
<script src="~/assets/libs/parsleyjs/parsley.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>



<!-- Sweet Alerts js -->
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>

<!-- Table Editable plugin -->
<script src="~/assets/libs/table-edits/build/table-edits.min.js"></script>
<script src="~/assets/js/pages/table-editable.int.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-add-product.init.js"></script>

<script src="~/assets/js/app.js"></script>



<!-- jQuery 3 -->
<script src="~/assets/LTE/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/assets/LTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Select2 -->
<script src="~/assets/LTE/bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- InputMask -->
<script src="~/assets/LTE/plugins/input-mask/jquery.inputmask.js"></script>
<script src="~/assets/LTE/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="~/assets/LTE/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<!-- date-range-picker -->
<script src="~/assets/LTE/bower_components/moment/min/moment.min.js"></script>
<script src="~/assets/LTE/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="~/assets/LTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<!-- bootstrap time picker -->
<script src="~/assets/LTE/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- SlimScroll -->
<!-- iCheck 1.0.1 -->
<script src="~/assets/LTE/plugins/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<!-- AdminLTE App -->
<script src="~/assets/LTE/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
