@model Minible5.Models.ViewModels.PtoDeVenta.PtoDeVentaViewModel
@using Minible5.Models.ViewModels.PtoDeVenta
@{
    ViewBag.Title = "Realizar Transacción";
    ViewBag.pTitle = "Realizar Transacción";
    ViewBag.pageTitle = "Punto de Venta";
    Layout = "~/Views/_Shared/_Layout.cshtml";
    List<ListItemsViewModel> articulos = (List<ListItemsViewModel>)ViewBag.articulos;
    List<SelectListItem> bancos = (List<SelectListItem>)ViewBag.bancos;
    List<SelectListItem> tarjetas = (List<SelectListItem>)ViewBag.tarjetas;
}

<!-- Select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/select2-bootstrap/dist/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- Sweet Alert-->
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("Index", "finalVenta", FormMethod.Post, new { role = "form", @class = "needs-validation ", Novalidate = true }))
{

    @Html.HiddenFor(d => d.articulos);
    @Html.HiddenFor(d => d.numdoc);

    @Html.ValidationSummary("", new { id = "validartions-errors", @class = "hidden" })

    <div class="row">
        <div class="col-xl-8">
            <div class="custom-accordion">
                <div class="card">
                    <a href="#checkout-billinginfo-collapse" class="text-dark" data-bs-toggle="collapse">
                        <div class="p-4">

                            <div class="media align-items-center">
                                <div class="me-3">
                                    <i class="uil uil-receipt text-primary h2"></i>
                                </div>
                                <div class="media-body overflow-hidden">
                                    <h5 class="font-size-16 mb-1">Información del Cliente</h5>
                                    <p class="text-muted text-truncate mb-0">Ingrese los datos del cliente a facturar</p>
                                </div>
                                <i class="mdi mdi-chevron-up accor-down-icon font-size-24"></i>
                            </div>

                        </div>
                    </a>

                    <div id="checkout-billinginfo-collapse" class="collapse">
                        <div class="p-4 border-top">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        @Html.LabelFor(d => d.nit)
                                        <div class="input-group">
                                            @Html.TextBoxFor(d => d.nit, new { @class = "form-control", placeholder = "Ingrese NIT", id = "nit-input", Readonly = "true" })
                                        </div>
                                        <p id="log"></p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        @Html.LabelFor(d => d.nombre)
                                        @Html.TextBoxFor(d => d.nombre, new { @class = "form-control", placeholder = "Ingrese nombre", id = "nombre-input", Readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        @Html.LabelFor(d => d.email)
                                        @Html.TextBoxFor(d => d.email, new { @class = "form-control", placeholder = "Ingrese email", id = "email-input", Readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        @Html.LabelFor(d => d.direccion)
                                        @Html.TextAreaFor(d => d.direccion, new { @class = "form-control", rows = "2", placeholder = "Ingrese dirección completa", id = "direccion-input", Readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="#checkout-paymentinfo-collapse" class="collapsed text-dark" data-bs-toggle="collapse">
                        <div class="p-4">

                            <div class="media align-items-center">
                                <div class="me-3">
                                    <i class="uil uil-bill text-primary h2"></i>
                                </div>
                                <div class="media-body overflow-hidden">
                                    <h5 class="font-size-16 mb-1">Información de Pago</h5>
                                    <p class="text-muted text-truncate mb-0">Ingrese los datos de la forma de pago que se utilizará en la transacción</p>
                                </div>
                                <i class="mdi mdi-chevron-up accor-down-icon font-size-24"></i>
                            </div>

                        </div>
                    </a>

                    <div id="checkout-paymentinfo-collapse" class="collapse show">
                        <div class="p-4 border-top">
                            <div>
                                <h5 class="font-size-14 mb-3">Método de Pago :</h5>

                                <div class="row">

                                    <div class="col-lg-3 col-sm-6">
                                        <div data-bs-toggle="collapse">
                                            <label class="card-radio-label">
                                                <input type="radio" name="pay-method" id="pay-methodoption1" class="card-radio-input" checked>

                                                <span class="card-radio text-center text-truncate">

                                                    <i class="uil uil-money-bill d-block h2 mb-3"></i>
                                                    Efectivo
                                                </span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-6">
                                        <div>
                                            <label class="card-radio-label">
                                                <input type="radio" name="pay-method" id="pay-methodoption2" class="card-radio-input">

                                                <span class="card-radio text-center text-truncate">
                                                    <i class="uil uil-edit-alt d-block h2 mb-3"></i>
                                                    Cheque
                                                </span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-6">
                                        <div>
                                            <label class="card-radio-label">
                                                <input type="radio" name="pay-method" id="pay-methodoption3" class="card-radio-input">

                                                <span class="card-radio text-center text-truncate">
                                                    <i class="uil uil-postcard d-block h2 mb-3"></i>
                                                    <span>Tarjeta de Crédito / Débito</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-6">
                                        <div>
                                            <label class="card-radio-label">
                                                <input type="radio" name="pay-method" id="pay-methodoption4" class="card-radio-input">

                                                <span class="card-radio text-center text-truncate">
                                                    <i class="uil uil-dollar-alt d-block h2 mb-3"></i>
                                                    <span>Dólares</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 collapse show" id="opcion1-info">
                                        <div class="mt-4">
                                            @Html.LabelFor(d => d.pago.efectivo.monto, new { @class = "form-label" })
                                            @Html.TextBoxFor(d => d.pago.efectivo.monto, new { @class = "form-control input-mask text-start input-quetzales", id = "input-efectivo" })
                                        </div>
                                    </div>
                                    <div class="col-12 collapse" id="opcion2-info">
                                        <div class="repeater mt-4">
                                            <div id="table-bancos">
                                                @if (Model.pago.cheques.Count <= 0)
                                                {
                                                    <div class="row" id="metodoBanco-@Model.pago.chequesCont">
                                                        <div class="mb-3 col-lg-3">
                                                            <label class="form-label" for="bancos-@Model.pago.chequesCont">Banco</label>
                                                            @Html.DropDownList("bancos-" + Model.pago.chequesCont, bancos, "Seleccione el Banco", new { @class = "form-control select2 input-cheques" })
                                                        </div>

                                                        <div class="mb-3 col-lg-3">
                                                            <label class="form-label" for="cheque-@Model.pago.chequesCont">Cheque</label>
                                                            <input id="cheque-@Model.pago.chequesCont" class="form-control input-cheques" />
                                                        </div>

                                                        <div class="mb-3 col-lg-3">
                                                            <label class="form-label" for="montoCheque-@Model.pago.chequesCont">Monto</label>
                                                            <input id="montoCheque-@Model.pago.chequesCont" class="form-control input-mask text-start input-cheques" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': 'Q ', 'placeholder': '0'">
                                                        </div>

                                                        <div class="col-lg-3 align-self-center d-grid">
                                                            <input type="button" id="delete-@Model.pago.chequesCont" class="btn btn-primary btn-block" value="Eliminar" />
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    foreach (var cheque in Model.pago.cheques)
                                                    {
                                                        <div class="row" id="metodoBanco-@cheque.Key">
                                                            <div class="mb-3 col-lg-3">
                                                                <label class="form-label" for="bancos-@cheque.Key">Banco</label>
                                                                <select class="form-control select2 input-cheques" id="bancos-@cheque.Key" name="bancos-@cheque.Key" tabindex="0" aria-hidden="false">
                                                                    <option value="">Seleccione el Banco</option>
                                                                    @foreach (var banco in bancos)
                                                                    {
                                                                        if (banco.Value == Model.pago.cheques[cheque.Key].idBanco.ToString())
                                                                        {
                                                                            <option value="@banco.Value" selected>@banco.Text</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@banco.Value">@banco.Text</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>

                                                            <div class="mb-3 col-lg-3">
                                                                <label class="form-label" for="cheque-@cheque.Key">Cheque</label>
                                                                <input id="cheque-@cheque.Key" value="@cheque.Value.cheque" class="form-control input-cheques" />
                                                            </div>

                                                            <div class="mb-3 col-lg-3">
                                                                <label class="form-label" for="montoCheque-@cheque.Key">Monto</label>
                                                                <input id="montoCheque-@cheque.Key" value="@cheque.Value.monto" class="form-control input-mask text-start input-cheques" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': 'Q ', 'placeholder': '0'">
                                                            </div>

                                                            <div class="col-lg-3 align-self-center d-grid">
                                                                <input type="button" id="delete-@cheque.Key" class="btn btn-primary btn-block" value="Eliminar" />
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <input type="button" id="addCheque" class="btn btn-success mt-3 mt-lg-0" value="Añadir" />
                                        </div>
                                    </div>
                                    <div class="col-12 collapse" id="opcion3-info">
                                        <div class="repeater mt-4">
                                            <div id="table-tarjetas">
                                                @if (Model.pago.tarjetas.Count <= 0)
                                                {
                                                    <div class="row" id="metodoTarjeta-@Model.pago.tarjetasCont">

                                                        <div class="mb-3 col-lg">
                                                            <label class="form-label" for="tarjeta-@Model.pago.tarjetasCont">No. Tarjeta</label>
                                                            <input id="tarjeta-@Model.pago.tarjetasCont" class="form-control input-mask text-start input-tarjetas" data-inputmask="'mask': '9999 9999 9999 9999'">
                                                        </div>

                                                        <div class="mb-3 col-lg">
                                                            <label class="form-label" for="name">Emisor</label>
                                                            @Html.DropDownList("tarjetas-" + Model.pago.tarjetasCont, tarjetas, "Seleccione la Tarjeta", new { @class = "form-control select2 input-tarjetas" })
                                                        </div>

                                                        <div class="mb-3 col-lg">
                                                            <label class="form-label" for="autorizacion-@Model.pago.tarjetasCont">Autorización</label>
                                                            <input id="autorizacion-@Model.pago.tarjetasCont" class="form-control input-tarjetas" />
                                                        </div>


                                                        <div class="mb-3 col-lg">
                                                            <label class="form-label" for="montoTarjeta-@Model.pago.tarjetasCont">Monto</label>
                                                            <input id="montoTarjeta-@Model.pago.tarjetasCont" class="form-control input-mask text-start input-tarjetas" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': 'Q ', 'placeholder': '0'">
                                                        </div>

                                                        <div class="col-lg align-self-center d-grid">
                                                            <input type="button" id="delete-@Model.pago.tarjetasCont" class="btn btn-primary btn-block" value="Eliminar" />
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    foreach (var tarjeta in Model.pago.tarjetas)
                                                    {
                                                        <div class="row" id="metodoTarjeta-@tarjeta.Key">

                                                            <div class="mb-3 col-lg">
                                                                <label class="form-label" for="tarjeta-@tarjeta.Key">No. Tarjeta</label>
                                                                <input id="tarjeta-@tarjeta.Key" value="@tarjeta.Value.tarjeta" class="form-control input-mask text-start input-tarjetas" data-inputmask="'mask': '9999 9999 9999 9999'">
                                                            </div>

                                                            <div class="mb-3 col-lg">
                                                                <label class="form-label" for="tarjetas-@tarjeta.Key">Emisor</label>
                                                                <select class="form-control select2 input-tarjetas" id="tarjetas-@tarjeta.Key" name="tarjetas-@tarjeta.Key" tabindex="0" aria-hidden="false">
                                                                    <option value="">Seleccione la Tarjeta</option>
                                                                    @foreach (var emisor in tarjetas)
                                                                    {
                                                                        if (emisor.Value == Model.pago.tarjetas[tarjeta.Key].idEmisor.ToString())
                                                                        {
                                                                            <option value="@emisor.Value" selected>@emisor.Text</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@emisor.Value">@emisor.Text</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>

                                                            <div class="mb-3 col-lg">
                                                                <label class="form-label" for="autorizacion-@tarjeta.Key">Autorización</label>
                                                                <input id="autorizacion-@tarjeta.Key" value="@tarjeta.Value.autorizacion" class="form-control input-tarjetas" />
                                                            </div>


                                                            <div class="mb-3 col-lg">
                                                                <label class="form-label" for="montoTarjeta-@tarjeta.Key">Monto</label>
                                                                <input id="montoTarjeta-@tarjeta.Key" value="@tarjeta.Value.monto" class="form-control input-mask text-start input-tarjetas" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': 'Q ', 'placeholder': '0'">
                                                            </div>

                                                            <div class="col-lg align-self-center d-grid">
                                                                <input type="button" id="delete-@tarjeta.Key" class="btn btn-primary btn-block" value="Eliminar" />
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <input type="button" id="addTarjeta" class="btn btn-success mt-3 mt-lg-0" value="Añadir" />
                                        </div>
                                    </div>
                                    <div class="col-12 collapse" id="opcion4-info">
                                        <div class="mt-4">
                                            @Html.LabelFor(d => d.pago.dolares.tasaCambio, new { @class = "form-label" })
                                            @Html.TextBoxFor(d => d.pago.dolares.tasaCambio, new { @class = "form-control input-mask text-start", id = "input-tasa" })
                                        </div>
                                        <div class="mt-4">
                                            @Html.LabelFor(d => d.pago.dolares.montoDolares, new { @class = "form-label" })
                                            @Html.TextBoxFor(d => d.pago.dolares.montoDolares, new { @class = "form-control input-mask text-start", id = "input-dolares" })
                                        </div>
                                        <div class="mt-4">
                                            @Html.LabelFor(d => d.pago.dolares.monto, new { @class = "form-label" })
                                            @Html.TextBoxFor(d => d.pago.dolares.monto, new { @class = "form-control input-mask text-start input-quetzales", placeholder = "Q 0.00", ReadOnly = "true", id = "input-montoQ" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xl-4">
            <div class="card checkout-order-summary">
                <div class="card-body">
                    <div class="p-3 bg-light mb-4">
                        <h5 class="font-size-16 mb-0">Resumen de la Factura</h5>
                        <p class="font-size-16 mb-0">Serie: <span class="float-end">@Model.nombreSerie</span></p>
                        <br />
                        <p class="font-size-16 mb-0">Bodega: <span class="float-end">@Model.nombrebodega</span></p>
                        <p class="font-size-16 mb-0">Vendedor: <span class="float-end">@Model.nombreVendedor</span></p>
                    </div>
                    <div class="table-responsive overflow-auto" style="max-height:200px;" id="product-list">
                        <table class="table table-centered mb-0 table-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0" style="width: 110px;" scope="col">Producto</th>
                                    <th class="border-top-0" scope="col">Desc del Producto</th>
                                    <th class="border-top-0" scope="col">Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var articulo in articulos)
                                {
                                    <tr>
                                        <th scope="row"><img src="@articulo.foto" alt="product-img" title="product-img" class="avatar-md"></th>
                                        <td style="max-width:50px;">
                                            <h5 class="font-size-14 text-truncate"><a href="@Url.Action("Index", "detalleProducto")/?id=@articulo.id" class="text-dark">@articulo.descripcion</a></h5>
                                            <p class="text-muted mb-0">Q @String.Format("{0:0.00}", articulo.precio) x @articulo.unidades</p>
                                        </td>
                                        <td>Q @String.Format("{0:0.00}", articulo.precio * articulo.unidades)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <table class="table table-centered mb-0 table-nowrap">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <h5 class="font-size-14 m-0">Sub Total :</h5>
                                </td>
                                <td>
                                    Q @String.Format("{0:0.00}", Model.subtotal)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h5 class="font-size-14 m-0">Descuento :</h5>
                                </td>
                                <td>
                                    - Q @String.Format("{0:0.00}", Model.descuento)
                                </td>
                            </tr>

                            <tr class="bg-light">
                                <td colspan="2">
                                    <h5 class="font-size-14 m-0">Total a Pagar :</h5>
                                </td>
                                <td>
                                    Q @String.Format("{0:0.00}", Model.total)
                                </td>
                            </tr>
                            <tr class="bg-light">
                                <td colspan="2">
                                    <h5 class="font-size-14 m-0">Recibido :</h5>
                                </td>
                                <td id="recibido">
                                    Q @String.Format("{0:0.00}", Model.pago.montoTotal)
                                </td>
                            </tr>
                            <tr class="bg-light">
                                <td colspan="2">
                                    <h5 class="font-size-14 m-0">Vuelto :</h5>
                                </td>
                                @if (Model.vuelto >= 0)
                                {
                                    <td class="text-success" id="vuelto">
                                        Q @String.Format("{0:0.00}", Model.vuelto)
                                    </td>
                                }
                                else
                                {
                                    <td class="text-danger" id="vuelto">
                                        - Q @String.Format("{0:0.00}", Model.vuelto * -1)
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row my-4">
                <div class="col">
                    <a href=@Url.Action("Index", "carrito") class="btn btn-link text-muted">
                        <i class="uil uil-arrow-left me-1"></i> Ir al Carrito
                    </a>
                </div> <!-- end col -->
                <div class="col">
                    <div class="text-sm-end mt-2 mt-sm-0">
                        <button type="submit" class="btn btn-success">
                            <i class="uil uil-shopping-cart-alt me-1"></i> Facturar
                        </button>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row-->
        </div>
    </div>
    <!-- end row -->
}
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="~/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

<!-- Sweet Alerts js -->
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<!-- form mask -->
<script src="~/assets/libs/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<!-- Select2 -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<script src="~/assets/js/app.js"></script>

<script>
    $(document).ready(function () {
        //FUNCION PARA BAJAR LA SCROLL
        function setScrollBar() {
            var messageBody = document.querySelector('#product-list');
            messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
            var right = $('#product-list').width();
            $('#product-list').scrollLeft(right);
        }
        setScrollBar();

        //MOSTRAMOS SI EXISTE ERROR
        if ($("#validartions-errors").hasClass("validation-summary-errors")) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                html: `@Html.ValidationSummary() `
            });
        }
        if ("@ViewBag.error" != "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: "@ViewBag.error"
            });
        }

        /******* INICIALICIAMOS LOS INPUTMASK *******/
        $(".input-mask").inputmask();
        $(".input-quetzales").inputmask({
            'alias': 'numeric',
            'groupSeparator': ',',
            'digits': 2,
            'digitsOptional': false,
            'prefix': 'Q ',
            'placeholder': '0'
        });
        $("#input-dolares").inputmask({
            'alias': 'numeric',
            'groupSeparator': ',',
            'digits': 2,
            'digitsOptional': false,
            'prefix': '$ ',
            'placeholder': '0'
        });
        $("#input-tasa").inputmask({
            'alias': 'numeric',
            'groupSeparator': ',',
            'digits': 2,
            'digitsOptional': false,
            'placeholder': '0'
        });

        /******** INICIALICIAMOS LOS SELECTS ********/
        @if (Model.pago.cheques.Count <= 0)
        {
            @:$("#bancos-@Model.pago.chequesCont").select2({ theme: "bootstrap" });
        }
        else
        {
            foreach(var cheque in Model.pago.cheques)
            {
                @:$("#bancos-@cheque.Key").select2({ theme: "bootstrap" });
            }
        }
        @if(Model.pago.tarjetas.Count <= 0)
        {
            @:$("#tarjetas-@Model.pago.tarjetasCont").select2({ theme: "bootstrap" });
        }
        else
        {
            foreach(var tarjeta in Model.pago.tarjetas)
            {
                @:$("#tarjetas-@tarjeta.Key").select2({ theme: "bootstrap" });
            }
        }

        /******* EVENTOS PARA CAMBIO DE PAGO ********/
        $("#pay-methodoption1").change(function () {
            if (this.checked) {

                $("#opcion2-info").hide();
                $("#opcion3-info").hide();
                $("#opcion4-info").hide();

                $("#opcion1-info").fadeIn();
            }
        });
        $("#pay-methodoption2").change(function () {
            if (this.checked) {

                $("#opcion1-info").hide();
                $("#opcion3-info").hide();
                $("#opcion4-info").hide();

                $("#opcion2-info").fadeIn();
            }
        });
        $("#pay-methodoption3").change(function () {
            if (this.checked) {

                $("#opcion1-info").hide();
                $("#opcion2-info").hide();
                $("#opcion4-info").hide();

                $("#opcion3-info").fadeIn();
            }
        });
        $("#pay-methodoption4").change(function () {
            if (this.checked) {

                $("#opcion1-info").hide();
                $("#opcion2-info").hide();
                $("#opcion3-info").hide();

                $("#opcion4-info").fadeIn();
            }
        });

        /******** EVENTOS PARA AGREGAR FILA ********/
        $("#addCheque").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getChequesCont", "finalVenta")',
                success: function (data) {
                    if (data.success) {
                        inputGroup =
                            `<div class="row" id="metodoBanco-` + data.chequesCont + `">
                                <div class="mb-3 col-lg-3">
                                    <label class="form-label" for="bancos-` + data.chequesCont + `">Banco</label>
                                    <select class="form-control select2 input-cheques" id="bancos-` + data.chequesCont + `" name="bancos-` + data.chequesCont + `" tabindex="0" aria-hidden="false">
                                        <option value="">Seleccione el Banco</option>
                                        @foreach(var banco in bancos)
                                        {
                                            <option value="@banco.Value">@banco.Text</option>
                                        }
                                    </select>
                                </div>

                                <div class="mb-3 col-lg-3">
                                    <label class="form-label" for="cheque-` + data.chequesCont + `">Cheque</label>
                                    <input id="cheque-` + data.chequesCont + `" class="form-control input-cheques" />
                                </div>

                                <div class="mb-3 col-lg-3">
                                    <label class="form-label" for="montoCheque-` + data.chequesCont + `">Monto</label>
                                    <input id="montoCheque-` + data.chequesCont + `" class="form-control input-mask text-start input-cheques" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': 'Q ', 'placeholder': '0'">
                                </div>

                                <div class="col-lg-3 align-self-center d-grid">
                                    <input type="button" class="btn btn-primary btn-block" id="delete-` + data.chequesCont + `" value="Eliminar" />
                                </div>
                            </div>`;
                        $("#table-bancos").append($(inputGroup).hide().fadeIn());
                        $(".input-mask").inputmask()
                        $("#bancos-" + data.chequesCont).select2({
                            theme: "bootstrap"
                        });
                    } else {
                        alert("Efe :c");
                    }
                }
            });
        });
        $("#addTarjeta").click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getTarjetasCont", "finalVenta")',
                success: function (data) {
                    if (data.success) {
                        inputGroup =
                            `<div class="row" id="metodoTarjeta-` + data.tarjetasCont + `">

                                <div class="mb-3 col-lg">
                                    <label class="form-label" for="tarjeta-` + data.tarjetasCont + `">No. Tarjeta</label>
                                    <input id="tarjeta-` + data.tarjetasCont + `" class="form-control input-mask text-start input-tarjetas" data-inputmask="'mask': '9999 9999 9999 9999'">
                                </div>

                                <div class="mb-3 col-lg">
                                    <label class="form-label" for="tarjetas-` + data.tarjetasCont + `">Emisor</label>
                                    <select class="form-control select2 input-tarjetas" id="tarjetas-` + data.tarjetasCont + `" name="tarjetas-` + data.tarjetasCont + `" tabindex="0" aria-hidden="false">
                                        <option value="">Seleccione la Tarjeta</option>
                                        @foreach(var tarjeta in tarjetas)
                                        {
                                            <option value="@tarjeta.Value">@tarjeta.Text</option>
                                        }
                                    </select>
                                </div>

                                <div class="mb-3 col-lg">
                                    <label class="form-label" for="autorizacion-` + data.tarjetasCont + `">Autorización</label>
                                    <input id="autorizacion-` + data.tarjetasCont + `" class="form-control input-tarjetas" />
                                </div>


                                <div class="mb-3 col-lg">
                                    <label class="form-label" for="montoTarjeta-` + data.tarjetasCont + `">Monto</label>
                                    <input id="montoTarjeta-` + data.tarjetasCont + `" class="form-control input-mask text-start input-tarjetas" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'digits': 2, 'digitsOptional': false, 'prefix': 'Q ', 'placeholder': '0'">
                                </div>

                                <div class="col-lg align-self-center d-grid">
                                    <input type="button" id="delete-` + data.tarjetasCont + `" class="btn btn-primary btn-block" value="Eliminar" />
                                </div>

                            </div>`;
                        $("#table-tarjetas").append($(inputGroup).hide().fadeIn());
                        $(".input-mask").inputmask()
                        $("#tarjetas-" + data.tarjetasCont).select2({ theme: "bootstrap" });
                    } else {
                        alert("Efe :c");
                    }
                }
            });
        });

        /******** EVENTOS PARA ELIMINAR FILA *******/
        $("#table-bancos").on("click", ".btn", function () {
            let id = $(this).attr("id").split("-")[1];
            $.ajax({
                type: "POST",
                url: '@Url.Action("deleteCheque", "finalVenta")',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.success) {
                        //Eliminamos la fila
                        $("#metodoBanco-" + id).fadeOut("normal", function () {
                            $(this).remove();
                        });
                        //Seteamos los inputs
                        updateInputsPago(data.vuelto, data.recibido);
                    } else {
                        //Efe
                        alert("Efe :c");
                    }
                }
            });
        });
        $("#table-tarjetas").on("click", ".btn", function () {
            let id = $(this).attr("id").split("-")[1];
            $.ajax({
                type: "POST",
                url: '@Url.Action("deleteTarjeta", "finalVenta")',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.success) {
                        //Eliminamos la fila
                        $("#metodoTarjeta-" + id).fadeOut("normal", function () {
                            $(this).remove();
                        });
                        //Seteamos los inputs
                        updateInputsPago(data.vuelto, data.recibido);
                    } else {
                        //Efe
                        alert("Efe :c");
                    }
                }
            });
        });

        /******** EVENTOS PARA AGREGAR PAGO ********/
        //Evento para añadir efectivo
        $("#opcion1-info").on("change", "input", function () {
            let efectivo = $(this).val().split(" ")[1];
            $.ajax({
                type: "POST",
                url: '@Url.Action("addEfectivo", "finalVenta")',
                data: {
                    efectivo: efectivo
                },
                success: function (data) {
                    if (data.success) {
                        //Seteamos los inputs
                        updateInputsPago(data.vuelto, data.recibido);
                    } else {
                        //Efe
                        alert("Efe :c");
                    }
                }
            });
        });
        //Evento para añadir cheques
        $("#opcion2-info").on("change", ".input-cheques", function () {
            let id = $(this).attr("id").split("-")[1];
            let idBanco = $("#bancos-" + id).val();
            let cheque = $("#cheque-" + id).val();
            let monto = $("#montoCheque-" + id).val().split(" ")[1];
            console.log(idBanco, " ", cheque, " ", monto);
            if (idBanco && cheque && monto) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("addCheque", "finalVenta")',
                    data: {
                        id: id,
                        idBanco: idBanco,
                        cheque: cheque,
                        monto: monto
                    },
                    success: function (data) {
                        if (data.success) {
                            //Seteamos los inputs
                            updateInputsPago(data.vuelto, data.recibido);
                        } else {
                            //Efe
                            alert("Efe :c");
                        }
                    }
                });
            }
        });
        //Evento para añadir tarjeta
        $("#opcion3-info").on("change", ".input-tarjetas", function () {
            let id = $(this).attr("id").split("-")[1];
            let tarjeta = $("#tarjeta-" + id).val();
            let idEmisor = $("#tarjetas-" + id).val();
            let autorizacion = $("#autorizacion-" + id).val();
            let monto = $("#montoTarjeta-" + id).val().split(" ")[1];
            console.log(id);
            console.log(tarjeta, " ", idEmisor, " ", autorizacion, " ", monto);
            if (tarjeta && idEmisor && autorizacion && monto) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("addTarjeta", "finalVenta")',
                    data: {
                        id: id,
                        idEmisor: idEmisor,
                        tarjeta: tarjeta,
                        autorizacion: autorizacion,
                        monto: monto
                    },
                    success: function (data) {
                        if (data.success) {
                            //Seteamos los inputs
                            updateInputsPago(data.vuelto, data.recibido);
                        } else {
                            //Efe
                            alert("Efe :c");
                        }
                    }
                });
            }
        });
        //Evento para añadir dolares
        $("#opcion4-info").on("change", "input", function () {
            let tasa = $("#input-tasa").val();
            let dolares = $("#input-dolares").val().split(" ")[1];
            if (tasa && dolares) {
                console.log(tasa, " ", dolares);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("addDolares", "finalVenta")',
                    data: {
                        tasa: tasa,
                        dolares: dolares
                    },
                    success: function (data) {
                        if (data.success) {
                            //Seteamos los inputs
                            updateInputsPago(data.vuelto, data.recibido);
                            $("#input-montoQ").val("Q " + data.monto.toFixed(2));
                        } else {
                            //Efe
                            alert("Efe :c");
                        }
                    }
                });
            }
        });

        /******** FUNCION PARA ACTUALIZAR MONTOS *******/
        function updateInputsPago(vuelto, recibido) {
            if (vuelto >= 0) {
                $("#vuelto").removeClass("text-danger");
                $("#vuelto").addClass("text-success");
                $("#vuelto").text("Q " + vuelto.toFixed(2));
            } else {
                $("#vuelto").removeClass("text-success");
                $("#vuelto").addClass("text-danger");
                $("#vuelto").text("- Q " + (vuelto * -1).toFixed(2));
            }
            $("#recibido").text("Q " + recibido.toFixed(2))
        }
    });
</script>
