@model Minible5.Models.paises

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>paises</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_baja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_baja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Empresa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdInternoPaises }) |
    @Html.ActionLink("Back to List", "Index")
</p>
