@model Minible5.Models.tiposmovimientosinv

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tiposmovimientosinv</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTipoMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTipoMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfectaCostoPromedio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfectaCostoPromedio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfectaCostoRepocicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfectaCostoRepocicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfectaCostoUCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfectaCostoUCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Afectaestadisticaventa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Afectaestadisticaventa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Afectaestadisticacompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Afectaestadisticacompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntradaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntradaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacturacionInventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturacionInventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poliza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poliza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_baja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_baja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Empresa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdInternoTiposMovimientos }) |
    @Html.ActionLink("Back to List", "Index")
</p>
