@model Minible5.Models.ViewModels.TiposMovimientos.EditTiposMovimientosViewModels

@{
    ViewBag.Title = "Editar Tipos de Movimientos";
    ViewBag.pTitle = "Editar Tipos de Movimientos";
    ViewBag.pageTitle = "Tipos de Movimientos";
    Layout = "~/Views/_Shared/_Layout.cshtml";

    List<SelectListItem> itemsTipocliente = (List<SelectListItem>)ViewBag.itemsTipocliente;
    

}

<!-- plugin css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<!-- Sweet Alert-->
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("Edit", "tiposmovimientosinvs", FormMethod.Post, new { role = "form", @class = "needs-validation ", Novalidate = true }))
{
    <div class="row">
        <div class="col-lg-12">
            <div id="addproduct-accordion" class="custom-accordion">
                <div class="card">
                    <a href="#addproduct-billinginfo-collapse" class="text-dark" data-bs-toggle="collapse" aria-expanded="true" aria-controls="addproduct-billinginfo-collapse">
                        <div class="p-4">

                            <div class="media align-items-center">
                                <div class="me-3">
                                    <div class="avatar-xs">
                                        <div class="avatar-title rounded-circle bg-soft-primary text-primary">
                                            01
                                        </div>
                                    </div>
                                </div>
                                <div class="media-body overflow-hidden">
                                    <h5 class="font-size-16 mb-1">Editar Tipos de Movimientos</h5>
                                    <p class="text-muted text-truncate mb-0">Complete toda la información a continuación</p>
                                </div>
                                <i class="mdi mdi-chevron-up accor-down-icon font-size-24"></i>
                            </div>

                        </div>
                    </a>

                    <div id="addproduct-billinginfo-collapse" class="collapse show" data-bs-parent="#addproduct-accordion">
                        <div class="p-4 border-top">

                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(d => d.idInternoTiposMovimientos)


                            <div class="text-danger mb-3 row">
                                @Html.ValidationSummary(false)
                            </div>


                            <div class="mb-3 row">
                                @Html.LabelFor(d => d.IdTipoMovimiento, new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="input-group has-validation">
                                        @Html.TextBoxFor(d => d.IdTipoMovimiento, new { @class = "form-control", placeholder = "Codigo Tipo de Movimiento", Required = true })
                                        <div class="invalid-feedback">
                                            Porfavor, Ingresar el codigo del tipo de movimiento.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                @Html.LabelFor(d => d.Descripcion, new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="input-group has-validation">
                                        @Html.TextBoxFor(d => d.Descripcion, new { @class = "form-control", placeholder = "Descrpcion", Required = true })
                                        <div class="invalid-feedback">
                                            Porfavor, Ingresar la descripcion del tipo de movimiento.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                @Html.LabelFor(d => d.entradaSalida, new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="form-check">
                                        @Html.RadioButtonFor(d => d.entradaSalida, "E", new { @class = "form-check-input" })
                                        @Html.Label("entrada", "Entrada", new { @class = "form-check-label" })
                                    </div>

                                    <div class="form-check">
                                        @Html.RadioButtonFor(d => d.entradaSalida, "S", new { @class = "form-check-input" })
                                        @Html.Label("salida", "Salida", new { @class = "form-check-label" })
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                @Html.LabelFor(d => d.facturacionInventario, new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="form-check">
                                        @Html.RadioButtonFor(d => d.facturacionInventario, "F", new { @class = "form-check-input" })
                                        @Html.Label("Factura", "Facturacion", new { @class = "form-check-label" })
                                    </div>

                                    <div class="form-check">
                                        @Html.RadioButtonFor(d => d.facturacionInventario, "I", new { @class = "form-check-input" })
                                        @Html.Label("inventario", "Inventario", new { @class = "form-check-label" })
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                @Html.LabelFor(d => d.poliza, new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="input-group has-validation">
                                        @Html.TextBoxFor(d => d.poliza, new { @class = "form-control", placeholder = "Poliza", Required = true })
                                        <div class="invalid-feedback">
                                            Porfavor, ingrese la Poliza.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                @Html.LabelFor(d => d.afectaCostoPromedio, new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="form-check">
                                        @Html.CheckBoxFor(d => d.afectaCostoPromedio, new { @class = "form-check-input" })
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                @Html.LabelFor(d => d.afectaCostoRepocicion, new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="form-check">
                                        @Html.CheckBoxFor(d => d.afectaCostoRepocicion, new { @class = "form-check-input" })
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                @Html.LabelFor(d => d.afectaCostoUCompra, new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="form-check">
                                        @Html.CheckBoxFor(d => d.afectaCostoUCompra, new { @class = "form-check-input" })
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                @Html.LabelFor(d => d.afectaestadisticacompra, new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="form-check">
                                        @Html.CheckBoxFor(d => d.afectaestadisticacompra, new { @class = "form-check-input" })
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                @Html.LabelFor(d => d.afectaestadisticaventa, new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="form-check">
                                        @Html.CheckBoxFor(d => d.afectaestadisticaventa, new { @class = "form-check-input" })
                                    </div>
                                </div>
                            </div>
                          

                        </div>
                    </div>
                </div>


                <div class="card">
                    <a href="#addproduct-metadata-collapse" class="text-dark collapsed" data-bs-toggle="collapse" aria-haspopup="true" aria-expanded="false" aria-haspopup="true" aria-controls="addproduct-metadata-collapse">
                        <div class="p-4">

                            <div class="media align-items-center">
                                <div class="me-3">
                                    <div class="avatar-xs">
                                        <div class="avatar-title rounded-circle bg-soft-primary text-primary">
                                            02
                                        </div>
                                    </div>
                                </div>
                                <div class="media-body overflow-hidden">
                                    <h5 class="font-size-16 mb-1">Detalle Tipos Movimientos</h5>

                                </div>
                                <i class="mdi mdi-chevron-up accor-down-icon font-size-24"></i>
                            </div>

                        </div>
                    </a>

                    <div id="addproduct-metadata-collapse" class="collapse" data-bs-parent="#addproduct-accordion">
                        <div class="p-4 border-top">
                            <div class="table-responsive" id="divConceptosEditPadre">

                                @for (int i = 0; i < Model.contador; i++)
                                {
                                <div id="@("divConceptosEdit"+i )">
                                    @Html.HiddenFor(d => d.conceptos[i].idInternoTiposMovimientos)
                                    @Html.HiddenFor(d => d.conceptos[i].idInternoTIposMovimientosSeries)

                                    @Html.LabelFor(d => d.conceptos[i].idSerie, new { @class = "col-md-2 col-form-label" })
                                    <div class="col-md-10">
                                        <div class="input-group has-validation">
                                            @Html.TextBoxFor(d => d.conceptos[i].idSerie, new { @class = "form-control", placeholder = "" })

                                        </div>
                                    </div>

                                    @Html.LabelFor(d => d.conceptos[i].secuencia, new { @class = "col-md-2 col-form-label" })
                                    <div class="col-md-10">
                                        <div class="input-group has-validation">
                                            @Html.TextBoxFor(d => d.conceptos[i].secuencia, new { @class = "form-control", placeholder = "" })

                                        </div>
                                    </div>

                                    @Html.LabelFor(d => d.conceptos[i].correlativo, new { @class = "col-md-2 col-form-label" })
                                    <div class="col-md-10">
                                        <div class="input-group has-validation">
                                            @Html.TextBoxFor(d => d.conceptos[i].correlativo, new { @class = "form-control", placeholder = "" })

                                        </div>
                                    </div>

                                    @Html.LabelFor(d => d.conceptos[i].formatoImpresion, new { @class = "col-md-2 col-form-label" })
                                    <div class="col-md-10">
                                        <div class="input-group has-validation">
                                            @Html.TextBoxFor(d => d.conceptos[i].formatoImpresion, new { @class = "form-control", placeholder = "" })

                                        </div>
                                    </div>

                                    @Html.LabelFor(d => d.conceptos[i].resolucionNumero, new { @class = "col-md-2 col-form-label" })
                                    <div class="col-md-10">
                                        <div class="input-group has-validation">
                                            @Html.TextBoxFor(d => d.conceptos[i].resolucionNumero, new { @class = "form-control", placeholder = "" })

                                        </div>
                                    </div>

                                    @Html.LabelFor(d => d.conceptos[i].fechaAutorizacion, new { @class = "col-md-2 col-form-label" })
                                    <div class="col-md-10">
                                        <div class="input-group has-validation">
                                            @Html.TextBoxFor(d => d.conceptos[i].fechaAutorizacion, new { @class = "form-control", placeholder = "" })

                                        </div>
                                    </div>

                                    @Html.LabelFor(d => d.conceptos[i].res_del, new { @class = "col-md-2 col-form-label" })
                                    <div class="col-md-10">
                                        <div class="input-group has-validation">
                                            @Html.TextBoxFor(d => d.conceptos[i].res_del, new { @class = "form-control", placeholder = "" })

                                        </div>
                                    </div>

                                    @Html.LabelFor(d => d.conceptos[i].res_al, new { @class = "col-md-2 col-form-label" })
                                    <div class="col-md-10">
                                        <div class="input-group has-validation">
                                            @Html.TextBoxFor(d => d.conceptos[i].res_al, new { @class = "form-control", placeholder = "" })

                                        </div>
                                    </div>                                    

                                <a id="@("buttonDelete"+i)" href="javascript:void(0);" onclick="@("Delete("+i )@(")")" class="px-3 text-danger"><i class="uil uil-trash-alt font-size-18"></i></a>
                                </div>
                                }
                                
                                <input type="hidden" id="idItemUltimoELiminado" value=-1 />
                                <input type="hidden" id="idContador" value=0 />
                                <input type="hidden" id="idIteracion" value=@Model.contador />

                                <div class="row">
                                    <div class="form-group">

                                        <input type="text" id="Serie" placeholder="Serie" />
                                        <input type="text" id="Secuencia" placeholder="Secuencia" />
                                        <input type="text" id="Correlativo" placeholder="Correlativo" />
                                        <label>
                                            <input type="checkbox" id="Automatico" placeholder="Automatico" checked />
                                            Automatico
                                        </label>

                                        <input type="text" id="Formato" placeholder="Formato de Impresion" />
                                        <input type="text" id="Resolucion" placeholder="Resolucion" />
                                        <input type="date" id="Fecha" placeholder="Fecha Autorizacion" />
                                        <input type="text" id="Del" placeholder="Del" />
                                        <input type="text" id="Al" placeholder="Al" />

                                        <button type="button" class="btn btn-secondary" onclick="AgregaConcepto(); return false;">Agregar</button>
                                    </div>

                                </div>

                                <br />

                            </div>

                            <br />

                            <div id="divConceptosAdd">
                                <table id="tablaConceptos" style="width:100%;">
                                    <tr>
                                        <th>Serie</th>
                                        <th>Secuencia</th>
                                        <th>Correlativo</th>
                                        <th>Automatico</th>
                                        <th>Formato de Impresion</th>
                                        <th>Resolucion</th>
                                        <th>Fecha Autorizacion</th>
                                        <th>Del</th>
                                        <th>Al</th>

                                    </tr>

                                </table>

                            </div>

                            <div id="divConceptosDelete">

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->


    <div id="hiddenEmpresas"></div>

    <div class="row mb-4">
        <div class="col text-end">
            <a href="@Url.Action("Index", "tiposmovimientosinvs")" class="btn btn-danger"> <i class="uil uil-times me-1"></i> Cancelar </a>
            <button type="submit" class="btn btn-success"> <i class="uil uil-file-alt me-1"></i> Guardar </button>
        </div> <!-- end col -->
    </div> <!-- end row-->
}

<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="~/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

<script src="~/assets/js/pages/form-validation.init.js"></script>
<script src="~/assets/libs/parsleyjs/parsley.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- plugins -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- Sweet Alerts js -->
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>

<!-- Table Editable plugin -->
<script src="~/assets/libs/table-edits/build/table-edits.min.js"></script>
<script src="~/assets/js/pages/table-editable.int.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-add-product.init.js"></script>

<script src="~/assets/js/app.js"></script>

<script src="~/assets/js/TiposMovEdit.js"> </script>
